@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: 'Roboto' , 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --pink: #fff6f3;
  --green: #32bc9b;
  --orange: #f59a73;
  --light-blue: #f0f5ff;
  --blue: #496191;
  --white: #ffffff;
  --light-black-shadow: #b8b8b8;
  --light-black: #e6e6e6;
  --text-light: #9a9ea3;
  --text-dark: #707070;
  --text: #3d3d3d;

}

body {
  background: var(--light-blue);
}

.bk-pink {
  background: var(--pink);
}

.bk-green {
  background: var(--green);
}

.bk-white {
  background: var(--white);
}

.bk-light-blue {
  background: var(--light-blue);
}

.clr-blue {
  color: var(--blue);
}
.clr-orange {
  color: var(--orange);
}

.clr-light-text {
  color: var(--text-light);
}

.clr-green {
  color: var(--green);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.pd-0-4-1 {
  padding: 0.4rem 1rem;
}

.flx-row {
  display: flex;
  flex-direction: row;
}

.flx-column {
  display: flex;
  flex-direction: column;
} 

.flx-one {
  flex-grow: 1;
}

.flx-two {
  flex-grow: 2;
}

.jus-sp-evenly {
  justify-content: space-evenly;
}

.jus-sp-bt {
  justify-content: space-between;
}

.al-cntr {
  align-items: center;
}

.jus-con-cntr {
  justify-content: center;
}